.resources__link{
    width: 270px;
    height: 38px;
    background: center no-repeat;
    background-size: contain;
    transition: 0.5s;
}

.resources__link:nth-child(1):hover{
    opacity: 50%;
}

.resources__link:nth-child(2):hover{
    opacity: 50%;
}

.resources__link:nth-child(3):hover{
    opacity: 50%;
}

.resources__link:nth-child(4):hover{
    opacity: 50%;
}