.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  position: relative;
  background-color:  #f2f2f2;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header_square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64;
  right: 0;
}

/* и элемента с модификатором вида ключ-значение */

.logo__place_header{
  width: 228px;
  height: 32px;
  
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header_title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  z-index: 2;
}

.header_subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
  position: absolute;
  z-index: 2;
}

.header_link{
  color:  #2f80ed;
  text-decoration: none;
}

.header_main-ilustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.feynman{
  height: 890px;
  background: #f2f2f2 url(../images/feynman.png) no-repeat bottom left;
  position: relative;
}

.feynman_title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: auto;
  padding-top: 100px ;  
}

.feynman_subtitle{
  width: 648px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: auto;
  text-align: center;
  margin-top: 70px;
}

.feynman_link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position:absolute;
  right: 48px;
  top: 420px;
  text-decoration: none;
  color: #2f80ed;
}

.description{
  width: 80%;
  margin: 100px auto;
  min-height: auto;
}

.two_columns{
  display: flex;
}

.two_columns_brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin: 0;
  color: #2f80ed;
}

.two_columns_main-text{
  display: flex;
  flex-direction: column;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
  margin-left: auto;
}

.two_columns_paragraph{
  margin: 0;
}

.two_columns_paragraph:nth-of-type(2n) {
  margin-top: 30px;
  margin-bottom: 30px;
} 

.two_columns_span-accent{
  font-weight: 600;
}

.digits{
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: auto;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.table_heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table_text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  margin-top: 0px;
  justify-content: space-between;
}

.table_cell{
  width: 250px;
  z-index: 2;
  margin: 0;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}

.kaufman{
  margin:0;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  display: block;
}

.section-title_theme_dark{
  color:white;
  width: 60%;
}

.section-subtitle_theme_dark{
  color:white;
  width: 60%;
}

.triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  bottom: -55px;
  right: -110px;
  color: white;
}

.table_theme_dark{
  margin: 0 auto;
}

.table_cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer{
  margin: 0;
  height: auto;
  min-height: 250px;
  background-color: #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer_columns{
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  min-height: 250px;
}

.footer_column_content_copyright{
  flex-basis: 711px;
}

.footer_column_content_info{
  position: absolute;
  right: 300px;
}

.footer_column_content_social{
  position: absolute;
  right: 0;
}

.footer_column_info{
  display: flex;
  flex-direction: row;
}

.footer_author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  margin-top: 18px;
  margin-bottom: 18px;
  bottom: 0;
}

.footer_column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer_column_link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  margin-bottom: 16px;
}

.footer_social-icon{
  width: 16px;
  padding-right: 10px;
}
/*.footer_column_content_social .footer_column_link{
  color: #f2f2f2;
}*/
